<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor patch:before="processor[3]" type="Fishtank.CustomFields.Markdown.Pipeline.GetMarkdownFieldValue, Fishtank.CustomFields.Markdown"/>
      </renderField>
    </pipelines>
    <controlSources>
      <source mode="on" namespace="Fishtank.CustomFields.Markdown.Editor" assembly="Fishtank.CustomFields.Markdown" prefix="fishtank" />
      <source mode="on" namespace="Fishtank.CustomFields.Markdown.Web" assembly="Fishtank.CustomFields.Markdown" prefix="fishtank" />
    </controlSources>
    <fieldTypes>
      <fieldType  patch:before="fieldType[1]" name="Markdown" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
    </fieldTypes>
    <!-- Recommend to pull this into Coveo.SearchProvider.config / Sitecore.ContentSearch.Lucene.DefaultIndexConfiguration.config directly -->

    <!-- Coveo's config -->

    <!-- 
      <contentSearch>
        <configuration>
          <DefaultIndexConfiguration>
            <FieldReaders>
              <mapFieldByTypeName>
                <fieldReader fieldTypeName="markdown" fieldReaderType="Fishtank.CustomFields.Markdown.FieldReaders.MarkdownFieldReader, Fishtank.CustomFields.Markdown" />
              </mapFieldByTypeName>
            </FieldReaders>
          </DefaultIndexConfiguration>
        </configuration>
      </contentSearch>
      -->

    <!-- Lucene's config, lowercase -->
    <contentSearch>
      <configuration>
        <defaultIndexConfiguration>
          <fieldReaders>
            <mapFieldByTypeName>
              <fieldReader fieldTypeName="markdown" fieldReaderType="Fishtank.CustomFields.Markdown.FieldReaders.MarkdownFieldReader, Fishtank.CustomFields.Markdown" />
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultIndexConfiguration>
      </configuration>
    </contentSearch>

  </sitecore>
</configuration>