<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <pipelines>
        <renderField>
          <processor patch:before="processor[3]" type="Fishtank.CustomFields.Markdown.Pipeline.GetMarkdownFieldValue, Fishtank.CustomFields.Markdown"/>
        </renderField>
      </pipelines>
      <controlSources>
        <source mode="on" namespace="Fishtank.CustomFields.Markdown.Editor" assembly="Fishtank.CustomFields.Markdown" prefix="fishtank" />
        <source mode="on" namespace="Fishtank.CustomFields.Markdown.Web" assembly="Fishtank.CustomFields.Markdown" prefix="fishtank" />
      </controlSources>
      <fieldTypes>
        <fieldType  patch:before="fieldType[1]" name="Markdown" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
      </fieldTypes>
    </sitecore>
</configuration>